@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 5%;
  color: #172b4d;
  background-image: url("/images/header-illsutration-mobile@2x.png");
  background-position: center;
  background-size: 353px 504px;
  background-repeat: no-repeat;
}

/* Added this container for flexbox as requested by reviewers */
.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.welcome {
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 90px;
  height: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: #172b4d
}

.intro h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.intro h1 span {
  color: #00bd55c0;
}

.intro p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 35px 10px;
}

ul li {
  list-style-type: none;
  display: flex;
  justify-content: baseline;
}

ul li a {
  color: black;
}

.contacts ul li a {
  padding: 6px;
  font-size: 25px;
}

.small {
  display: none;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .small {
    display: block;
  }
}